@use 'colors';




label {
 color: colors.$pink;
}




%input-design{
    width: 150px;
    height: 30px;
    background-color: colors.$yellow;
}


#firstName{
    @extend %input-design;
}

#lastName{
    @extend %input-design;
}
#age{
    @extend %input-design;
}



