@use 'colors';




label {
 color: colors.$pink;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


%input-design{
    width: 150px;
    height: 30px;
    background-color: colors.$yellow;
}


#firstName{
    @extend %input-design;
}

#lastName{
    @extend %input-design;
}
#age{
    @extend %input-design;
}



